$red: #cf4032;

html, body {
  margin: 0 10px;
  padding: 0;
}

.inline {
  display: inline-block;
  vertical-align: top;
}

.json-parse-error, .template-parse-error {
  border: 1px solid $red;
  background: lighten($red, 45%);
  outline: none;
}

.precompile {
  width: 500px;
}

code {
  font-size: 12px;
  overflow: auto;
  white-space: pre;
  margin: 0;
  padding: 0;
  height: 300px;
}

.rendered {
  box-sizing: border-box;
  max-height: 300px;
  min-height: 100px;
  margin-top: 5px;
  overflow: scroll;
  border: 1px solid black;
  padding: 5px;
  width: 500px;
}

.template-input, .context-input {
  min-height: 100px;
}

.context-input {
  min-width: 200px;
}
