$red: #cf4032;
$header_orange: #e1563f;
$code_bg: #fefbfb;
$black: #252525;
$border: #d1d1d1;
$width: 960px;

html, body {
  margin: 0 10px;
  background: #faf4f1;
  padding: 0;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: $width;
}

header {
  h1 { color: $header_orange; }
  p { color: $black }
}

footer {
  p {
    color: $black;
    text-align: center;
    font-size: 12px;
  }
}

.inline {
  display: inline-block;
  vertical-align: top;
  h2 { color: $header_orange }
  p { color: $black }
}

.json-parse-error, .template-parse-error {
  border: 1px solid $red;
  background: lighten($red, 45%);
  outline: none;
}

.precompile {
  width: $width / 2 - 10px;
  border: 1px solid $border;
}

code.hljs {
  background-color: $code_bg;
}

code {
  font-size: 12px;
  overflow: auto;
  white-space: pre;
  margin: 0;
  padding: 0;
  height: 300px;
}

.rendered {
  box-sizing: border-box;
  max-height: 300px;
  min-height: 100px;
  margin-top: 5px;
  overflow: scroll;
  border: 1px solid black;
  padding: 5px;
  width: $width / 2 - 10px;
}

.template-input, .context-input {
  min-height: 100px;
}

.context-input {
  min-width: 200px;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: left;
  padding: 3px;
  margin: 1px;
  color: white;
  span {
    float: right;
  }
}

.twitter-share-button {
  margin-top: 25px;
  margin-left: 20px;
  &.hidden {
    display: none;
  }
}
